force-app/main/default/flows/Create_Fulfillment_Orders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Fulfillment_Order</name>
        <label>Create Fulfillment Order</label>
        <locationX>3729</locationX>
        <locationY>691</locationY>
        <actionName>createFulfillmentOrder</actionName>
        <actionType>createFulfillmentOrder</actionType>
        <connector>
            <targetReference>Succeeded</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fulfillmentOrderInput</name>
            <value>
                <elementReference>FulfillmentOrderInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>FulfillmentOrdersOutput</assignToReference>
            <name>fulfillmentOrderOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Already_Added_Items_List</name>
        <label>Already-Added Items List</label>
        <locationX>3530</locationX>
        <locationY>1488</locationY>
        <assignmentItems>
            <assignToReference>alreadyAddedOrderItemList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Fulfillment_Items_Loc_Check.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Item_Input</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Fulfillment_Item_Location</name>
        <label>Current Fulfillment Item Location</label>
        <locationX>3356</locationX>
        <locationY>1131</locationY>
        <assignmentItems>
            <assignToReference>outerLoopLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fulfillItem.locationId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Items_Loc_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_2</name>
        <label>Current Stage: 2</label>
        <locationX>1839</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_3</name>
        <label>Current Stage: 3</label>
        <locationX>2158</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Location_Groups</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_4</name>
        <label>Current Stage: 4</label>
        <locationX>2986</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Include_Delivery_Charges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Current_Stage_5</name>
        <label>Current Stage: 5</label>
        <locationX>4046</locationX>
        <locationY>690</locationY>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>confirmationImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Confirmation_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Charge_Fulfillment_Item_Input</name>
        <label>Fulfillment Item Input</label>
        <locationX>4386</locationX>
        <locationY>1694</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Charges_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Charges_Loop.Quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Item_Input_List_Delivery_Charge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Delivery_Groups_to_Fulfill</name>
        <label>Delivery Groups to Fulfill</label>
        <locationX>734</locationX>
        <locationY>822</locationY>
        <assignmentItems>
            <assignToReference>OrderDeliveryGroupSummariesToFulfill</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfOrderDeliveryGroupsToFulfill</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Group_Input</name>
        <label>Fulfillment Group Input</label>
        <locationX>3757</locationX>
        <locationY>1133</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfilledFromLocationId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fulfillItem.locationId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.fulfillmentType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fulFillmentType</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.orderItemSummaries</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentGroup.referenceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ReferenceIDText</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Group_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Group_Input_List</name>
        <label>Fulfillment Group Input List</label>
        <locationX>3911</locationX>
        <locationY>1050</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentGroups</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FulfillmentGroup</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reset_Fulfillment_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Item_Input</name>
        <label>Fulfillment Item Input</label>
        <locationX>3653</locationX>
        <locationY>1488</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Items_Loc_Check.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentation.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Items_Loc_Check.quantity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Item_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Item_Input_List</name>
        <label>Fulfillment Item Input List</label>
        <locationX>3798</locationX>
        <locationY>1489</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>First_Item_In_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Item_Input_List_Delivery_Charge</name>
        <label>Fulfillment Item Input List</label>
        <locationX>4302</locationX>
        <locationY>1888</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentationList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Charges_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Error_Message</name>
        <label>Fulfillment Order Error Message</label>
        <locationX>4013</locationX>
        <locationY>1236</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Creation_Error_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fulfillment_Order_Creation_Error_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToFulfill_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Order_Input</name>
        <label>Fulfillment Order Input</label>
        <locationX>3587</locationX>
        <locationY>691</locationY>
        <assignmentItems>
            <assignToReference>FulfillmentOrderInputRepresentation.fulfillmentGroups</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FulfillmentGroups</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderInputRepresentation.orderDeliveryGroupSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FulfillmentOrderInputRepresentation.orderSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fulfillment_Order</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Product_Input</name>
        <label>Fulfillment Product Input</label>
        <locationX>2764</locationX>
        <locationY>804</locationY>
        <assignmentItems>
            <assignToReference>fulfillItem.orderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>selectedOrderItem.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>fulfillItem.quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Product_Input_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Fulfillment_Product_Input_List</name>
        <label>Fulfillment Product Input List</label>
        <locationX>2617</locationX>
        <locationY>933</locationY>
        <assignmentItems>
            <assignToReference>fulfillItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>fulfillItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Include_Delivery_Charge_Flag</name>
        <label>Include Delivery Charge Flag</label>
        <locationX>3239</locationX>
        <locationY>497</locationY>
        <assignmentItems>
            <assignToReference>IncludeShipping</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShippingChargesRadioButton</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_Loop_Counter</name>
        <label>Increment Loop Counter</label>
        <locationX>4130</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>loopCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Items_Loc_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Initialize_Stages_1_5</name>
        <label>Initialize Stages 1-5</label>
        <locationX>1101</locationX>
        <locationY>676</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.CurrentStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Part_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Delivery_Group</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Delivery_Groups_Error_Message</name>
        <label>No Delivery Groups Error Message</label>
        <locationX>861</locationX>
        <locationY>981</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Delivery_Groups_To_Fulfill</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_No_Delivery_Groups_To_Fulfill_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToFulfill_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Location_Groups_Error_Message</name>
        <label>No Location Groups Error Message</label>
        <locationX>2156</locationX>
        <locationY>1207</locationY>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Groups_Empty_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Groups_Empty_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToFulfill_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Locations_Error_Message</name>
        <label>No Locations Error Message</label>
        <locationX>2318</locationX>
        <locationY>1319</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Message</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Location_Empty_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_NoItemsToFulfill_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Found_Error_Message_ODGS</name>
        <label>Not Found Error Message</label>
        <locationX>373</locationX>
        <locationY>1078</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_OrderDeliveryGroup_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_OrderDeliveryGroupEntity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Not_Found_Error_Message_OS</name>
        <label>Not Found Error Message</label>
        <locationX>271</locationX>
        <locationY>1206</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_OrderSummary_Entity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_OrderSummaryEntity_Header</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Wrong_Entity_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Order_Item_Summary_ID</name>
        <label>Order Item Summary ID</label>
        <locationX>3234</locationX>
        <locationY>876</locationY>
        <assignmentItems>
            <assignToReference>loopOrderItemSummaryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fulfillItem.orderItemSummaryId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Item_Already_Added</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Stage_4</name>
        <label>Remove Stage 4</label>
        <locationX>1964</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>RemovePosition</operator>
            <value>
                <elementReference>RemoveStage4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsLocationPageSubmit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Stage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Fulfillment_Item_Input_List</name>
        <label>Reset Fulfillment Item Input List</label>
        <locationX>3731</locationX>
        <locationY>923</locationY>
        <assignmentItems>
            <assignToReference>OrderItemSummaryInputRepresentationList</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>OrderItemSummaryInputRepresentationList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fulfillment_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Delivery_Group</name>
        <label>Selected Delivery Group</label>
        <locationX>1250</locationX>
        <locationY>1012</locationY>
        <assignmentItems>
            <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Delivery_Group_to_Fulfill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_to_Fulfill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Single_Delivery_Group_Flag</name>
        <label>Single Delivery Group Flag</label>
        <locationX>1100</locationX>
        <locationY>800</locationY>
        <assignmentItems>
            <assignToReference>SingleDeliveryGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Delivery_Group_to_Fulfill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_2_3_4_5</name>
        <label>Stages 2, 3, 4, 5</label>
        <locationX>1754</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_5</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Stage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Stages_2_3_5</name>
        <label>Stages 2, 3, 5</label>
        <locationX>2040</locationX>
        <locationY>1113</locationY>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Flow.ActiveStages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Part_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsLocationPageSubmit</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Current_Stage_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Unmanaged_Order_Error_Message</name>
        <label>Unmanaged Order Error Message</label>
        <locationX>162</locationX>
        <locationY>1321</locationY>
        <assignmentItems>
            <assignToReference>errorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageTitle</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>errorMessageImage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Error_Output_Unmanaged_Order_Image</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Error_Message</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Include_Shipping_No</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Include_Shipping_No_Text}&lt;/span&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Include_Shipping_Yes</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Include_Shipping_Yes_Text}&lt;/span&gt;&lt;p&gt;&lt;span style=&quot;font-size: 8px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>Confirmation_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_NoItemsToFulfill_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Unmanaged_Order_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>Error_Output_Wrong_Entity_Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>/_slds/images/illustrations/empty-states/desertSmall.svg</stringValue>
        </value>
    </constants>
    <constants>
        <name>RemoveStage4</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </constants>
    <constants>
        <name>ZERO</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Any_Delivery_Charges</name>
        <label>Any Delivery Charges?</label>
        <locationX>1477</locationX>
        <locationY>996</locationY>
        <defaultConnector>
            <targetReference>Current_Stage_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes; Multiple Delivery Groups</defaultConnectorLabel>
        <rules>
            <name>Any_Delivery_Charges_No_One_Delivery_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleDeliveryGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stages_2_3_5</targetReference>
            </connector>
            <label>No; One Delivery Group</label>
        </rules>
        <rules>
            <name>Any_Delivery_Charges_Yes_One_Delivery_Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleDeliveryGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Stages_2_3_4_5</targetReference>
            </connector>
            <label>Yes; One Delivery Group</label>
        </rules>
        <rules>
            <name>Any_Delivery_Charges_No_Multiple_Delivery_Groups</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SingleDeliveryGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Stage_4</targetReference>
            </connector>
            <label>No; Multiple Delivery Groups</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Delivery_Charges_Loc</name>
        <label>Any Delivery Charges?</label>
        <locationX>2883</locationX>
        <locationY>614</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Delivery_Charges_Loc_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Stage_4</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Any_Delivery_Charges_Loc_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Delivery_Charges</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Items</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Delivery_Groups_to_Fulfill</name>
        <label>Any Delivery Groups to Fulfill?</label>
        <locationX>852</locationX>
        <locationY>748</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Delivery_Groups_to_Fulfill_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderDeliveryGroupSummariesToFulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfOrderDeliveryGroupsToFulfill</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Delivery_Groups_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Any_Delivery_Groups_to_Fulfill_Yes_Multiple</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderDeliveryGroupSummariesToFulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>NumberOfOrderDeliveryGroupsToFulfill</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Initialize_Stages_1_5</targetReference>
            </connector>
            <label>Yes, Multiple</label>
        </rules>
        <rules>
            <name>Any_Delivery_Groups_to_Fulfill_Yes_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberOfOrderDeliveryGroupsToFulfill</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Single_Delivery_Group_Flag</targetReference>
            </connector>
            <label>Yes, One</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Fulfillment_Item_Inputs</name>
        <label>Any Fulfillment Item Inputs?</label>
        <locationX>3591</locationX>
        <locationY>1132</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Group_Input</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Fulfillment_Item_Inputs_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OrderItemSummaryInputRepresentationList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reset_Fulfillment_Item_Input_List</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Location_Groups</name>
        <label>Any Location Groups?</label>
        <locationX>2148</locationX>
        <locationY>962</locationY>
        <defaultConnector>
            <targetReference>Locations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Location_Groups_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>locationGroupsValues</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Location_Groups_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Locations</name>
        <label>Any Locations?</label>
        <locationX>2424</locationX>
        <locationY>963</locationY>
        <defaultConnector>
            <targetReference>Location_Group_Assignments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Any_Locations_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Locations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Locations_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Any_Products_Found</name>
        <label>Any Products Found?</label>
        <locationX>598</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Any_Products_Found_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products_to_Fulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
            </connector>
            <label>No</label>
        </rules>
        <rules>
            <name>Any_Products_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Products_to_Fulfill</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Groups_to_Fulfill</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Current_Location_Matches</name>
        <label>Current Location Matches?</label>
        <locationX>3350</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Fulfillment_Items_Loc_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Current_Location_Matches_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outerLoopLocationId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Fulfillment_Items_Loc_Check.locationId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Added_Items_List</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Item_In_List</name>
        <label>First Item in List?</label>
        <locationX>3937</locationX>
        <locationY>1491</locationY>
        <defaultConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>First_Item_In_List_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loopCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ZERO</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Include_Shipping</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Include_Shipping</name>
        <label>Include Shipping?</label>
        <locationX>3938</locationX>
        <locationY>1676</locationY>
        <defaultConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Include_Shipping_Check_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IncludeShipping</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delivery_Charges_Loop</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Item_Already_Added</name>
        <label>Item Already Added?</label>
        <locationX>3346</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Current_Fulfillment_Item_Location</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Item_Already_Added_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>alreadyAddedOrderItemList</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>loopOrderItemSummaryId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Items</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Order_Summary_Found</name>
        <label>Order Summary Found?</label>
        <locationX>163</locationX>
        <locationY>610</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Order_Summary_Found_Unmanaged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Order_Summary.OrderLifeCycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UNMANAGED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Unmanaged_Order_Error_Message</targetReference>
            </connector>
            <label>Unmanaged</label>
        </rules>
        <rules>
            <name>Order_Summary_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Order_Delivery_Group_Summaries</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>Order_Summary_Found_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Order_Summary</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_Found_Error_Message_OS</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Succeeded</name>
        <label>Succeeded?</label>
        <locationX>3874</locationX>
        <locationY>693</locationY>
        <defaultConnector>
            <targetReference>Current_Stage_5</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>Succeeded_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FulfillmentOrdersOutput.fulfillmentOrderIds</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Fulfillment_Order_Error_Message</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>OffsetTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 0.1</expression>
    </formulas>
    <interviewLabel>Create Fulfillment Orders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fulfillment Orders</label>
    <loops>
        <name>Delivery_Charges_Loop</name>
        <label>Delivery Charges</label>
        <locationX>4207</locationX>
        <locationY>1692</locationY>
        <collectionReference>Delivery_Charges</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delivery_Charge_Fulfillment_Item_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Increment_Loop_Counter</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Delivery_Group_to_Fulfill</name>
        <label>Delivery Group to Fulfill</label>
        <locationX>1250</locationX>
        <locationY>800</locationY>
        <collectionReference>OrderDeliveryGroupSummariesToFulfill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Selected_Delivery_Group</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Products_to_Fulfill_ODGS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fulfillment_Items</name>
        <label>Fulfillment Items</label>
        <locationX>3239</locationX>
        <locationY>704</locationY>
        <assignNextValueToReference>fulfillItem</assignNextValueToReference>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Order_Item_Summary_ID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Fulfillment_Order_Input</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Fulfillment_Items_Loc_Check</name>
        <label>Fulfillment Items</label>
        <locationX>3356</locationX>
        <locationY>1289</locationY>
        <collectionReference>fulfillItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Current_Location_Matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Fulfillment_Item_Inputs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>596</locationX>
        <locationY>753</locationY>
        <assignNextValueToReference>OrderDeliveryGroupSummaryRecord</assignNextValueToReference>
        <collectionReference>Order_Delivery_Group_Summaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Products_to_Fulfill</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Any_Delivery_Groups_to_Fulfill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Selected_Products</name>
        <label>Selected Products</label>
        <locationX>2553</locationX>
        <locationY>749</locationY>
        <assignNextValueToReference>selectedOrderItem</assignNextValueToReference>
        <collectionReference>selectedOrderItemSummaries</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Fulfillment_Product_Input</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Select_Locations</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Delivery_Charges</name>
        <label>Delivery Charges</label>
        <locationX>1592</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Delivery_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToFulfill</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Location Assignments</description>
        <name>Location_Group_Assignments</name>
        <label>Location Group Assignments</label>
        <locationX>2429</locationX>
        <locationY>749</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Products</targetReference>
        </connector>
        <object>LocationGroupAssignment</object>
        <outputReference>locationGroupsAssigmentValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LocationExternalReference</queriedFields>
        <queriedFields>LocationGroupAssignment</queriedFields>
        <queriedFields>LocationGroupId</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
        <queriedFields>LocationId</queriedFields>
        <queriedFields>LocationName</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get Location Groups</description>
        <name>Location_Groups</name>
        <label>Location Groups</label>
        <locationX>2157</locationX>
        <locationY>789</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Location_Groups</targetReference>
        </connector>
        <object>LocationGroup</object>
        <outputReference>locationGroupsValues</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ExternalReference</queriedFields>
        <queriedFields>LocationGroupName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Locations</name>
        <label>Locations</label>
        <locationX>2306</locationX>
        <locationY>961</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Locations</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Location</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Order_Delivery_Group_Summaries</name>
        <label>Order Delivery Group Summaries</label>
        <locationX>372</locationX>
        <locationY>754</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_Order_Delivery_Group_Summaries</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Not_Found_Error_Message_ODGS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderDeliveryGroupSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get OrderSummary for the record Id passed</description>
        <name>Order_Summary</name>
        <label>Order Summary</label>
        <locationX>177</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Order_Summary_Found</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Not_Found_Error_Message_OS</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrderSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Products_to_Fulfill</name>
        <label>Products to Fulfill</label>
        <locationX>476</locationX>
        <locationY>972</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_Products_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>QuantityAvailableToFulfill</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OrderDeliveryGroupSummaryRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Products_to_Fulfill_ODGS</name>
        <label>Products to Fulfill</label>
        <locationX>1469</locationX>
        <locationY>736</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delivery_Charges</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuantityAvailableToFulfill</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Delivery Charge</stringValue>
            </value>
        </filters>
        <filters>
            <field>OrderSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>OrderDeliveryGroupSummaryId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>selectedOrderDeliveryGroupSummary.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OrderItemSummary</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>4200</locationX>
        <locationY>691</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationImageDisplay</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!confirmationImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmationHeading</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 24px; color: rgb(62, 62, 60);&quot;&gt;{!$Label.FulfillFlow_successMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Footer5</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>860</locationX>
        <locationY>1418</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error_Output_Message_Image</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;{!errorMessageImage}&quot; alt=&quot;&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Error_Output_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessageTitle}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!errorMessage}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Include_Delivery_Charges</name>
        <label>Include Delivery Charges</label>
        <locationX>3116</locationX>
        <locationY>497</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Include_Delivery_Charge_Flag</targetReference>
        </connector>
        <fields>
            <name>ShippingChargesHeader</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FulfillFlow_selectShippingChargesHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ShippingChargesRadioButton</name>
            <choiceReferences>Include_Shipping_Yes</choiceReferences>
            <choiceReferences>Include_Shipping_No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Include_Shipping_Yes</defaultSelectedChoiceReference>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Footer4</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Delivery_Group</name>
        <label>Select Delivery Group</label>
        <locationX>1251</locationX>
        <locationY>676</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Products_to_Fulfill_ODGS</targetReference>
        </connector>
        <fields>
            <name>DeliveryGroupSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;{!$Label.FulfillFlow_selectDeliveryGroupHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectDeliveryGroup</name>
            <extensionName>runtime_commerce_oms:deliveryGroupSelect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>fulfill</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>OrderDeliveryGroupSummariesToFulfill</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummaries</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderDeliveryGroupSummary</name>
                <value>
                    <elementReference>selectedOrderDeliveryGroupSummary</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummaries</assignToReference>
                <name>selectedOrderDeliveryGroupSummaries</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderDeliveryGroupSummary</assignToReference>
                <name>selectedOrderDeliveryGroupSummary</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer1</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Locations</name>
        <label>Select Locations</label>
        <locationX>2772</locationX>
        <locationY>612</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Any_Delivery_Charges_Loc</targetReference>
        </connector>
        <fields>
            <name>selectFulfillLocationHeader</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;{!$Label.FulfillFlow_selectFulfillLocationHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectFulfillmentLocations</name>
            <extensionName>runtime_commerce_oms:locationWrapper</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fulfillItemList</name>
                <value>
                    <elementReference>fulfillItems</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>locationGroups</name>
                <value>
                    <elementReference>locationGroupsValues</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fulfillItems</assignToReference>
                <name>fulfillItemList</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer3</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isSubmitStep</name>
                <value>
                    <elementReference>IsLocationPageSubmit</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Products</name>
        <label>Select Products</label>
        <locationX>2014</locationX>
        <locationY>649</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Current_Stage_3</targetReference>
        </connector>
        <fields>
            <name>ProductsSelectHeading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;{!$Label.FulfillFlow_selectProductsHeader}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectProducts</name>
            <extensionName>runtime_commerce_oms:productSelection</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>flowType</name>
                <value>
                    <stringValue>FULFILL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OrderItemSummaries</name>
                <value>
                    <elementReference>Products_to_Fulfill_ODGS</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orderSummary</name>
                <value>
                    <elementReference>Order_Summary</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedOrderItemSummaries</name>
                <value>
                    <elementReference>selectedOrderItemSummaries</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>selectedOrderItemSummaries</assignToReference>
                <name>selectedOrderItemSummaries</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Footer2</name>
            <extensionName>runtime_commerce_oms:flowFooter</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>currentStage</name>
                <value>
                    <elementReference>$Flow.CurrentStage</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isFlowError</name>
                <value>
                    <elementReference>isError</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>stages</name>
                <value>
                    <elementReference>$Flow.ActiveStages</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>isError</assignToReference>
                <name>isFlowError</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <stages>
        <name>Part_1</name>
        <isActive>false</isActive>
        <label>Select delivery group</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Part_2</name>
        <isActive>false</isActive>
        <label>Select products to fulfill</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Part_3</name>
        <isActive>false</isActive>
        <label>Select quantity and location</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Part_4</name>
        <isActive>false</isActive>
        <label>Select shipping charges</label>
        <stageOrder>4</stageOrder>
    </stages>
    <stages>
        <name>Part_5</name>
        <isActive>false</isActive>
        <label>Confirm and submit</label>
        <stageOrder>5</stageOrder>
    </stages>
    <start>
        <locationX>51</locationX>
        <locationY>338</locationY>
        <connector>
            <targetReference>Order_Summary</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Error_Output_Invocable_Action_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_invocableErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Delivery_Groups_To_Fulfill</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.FlowErrors_noDeliveryGroupsToFulfill}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_No_Delivery_Groups_To_Fulfill_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;{!$Label.FlowErrors_noDeliveryGroupsToFulfillTitle}&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_unmanagedOrderErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Unmanaged_Order_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_unmanagedOrderErrorTitle}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_OrderDeliveryGroup_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_orderDeliveryGroupEntityMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_OrderDeliveryGroupEntity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_orderDeliveryGroupEntityTitle}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_OrderSummary_Entity</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_orderSummaryEntityMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Error_Output_Wrong_OrderSummaryEntity_Header</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FlowErrors_orderSummaryEntityTitle}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_unsuccessfulFulfillmentOrderCreationErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Fulfillment_Order_Creation_Error_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_unsuccessfulFulfillmentOrderCreationErrorTitle}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Include_Shipping_No_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FulfillFlow_doNotIncludeShippingCharges}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Include_Shipping_Yes_Text</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!$Label.FulfillFlow_includeShippingCharges}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_locationUnavailableErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_locationUnavailableErrorTitle}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Message</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_locationGroupUnavailableErrorMessage}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Location_Groups_Empty_Title</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p style=&quot;text-align: center;&quot;&gt;{!$Label.FlowErrors_locationGroupUnavailableErrorTitle}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>alreadyAddedOrderItemList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>confirmationImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageImage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorMessageTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItem</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulfillItems</name>
        <apexClass>runtime_commerce_oms__FulfillItem</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroup</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentGroups</name>
        <apexClass>ConnectApi__FulfillmentGroupInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrderInputRepresentation</name>
        <apexClass>ConnectApi__FulfillmentOrderInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FulfillmentOrdersOutput</name>
        <apexClass>ConnectApi__FulfillmentOrderOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>fulFillmentType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Warehouse</stringValue>
        </value>
    </variables>
    <variables>
        <name>IncludeShipping</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>isError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IsLocationPageSubmit</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>Location Groups Assignment Values</description>
        <name>locationGroupsAssigmentValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroupAssignment</objectType>
    </variables>
    <variables>
        <description>Location Groups Values</description>
        <name>locationGroupsValues</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>LocationGroup</objectType>
    </variables>
    <variables>
        <description>loopCounter</description>
        <name>loopCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>loopOrderItemSummaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfOrderDeliveryGroupsToFulfill</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummariesToFulfill</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderDeliveryGroupSummaryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderItemSummaryInputRepresentationList</name>
        <apexClass>ConnectApi__OrderItemSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outerLoopLocationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>131xx0000004FoLAAU</stringValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferenceIDText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderDeliveryGroupSummary</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderDeliveryGroupSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>selectedOrderItemSummaries</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItemSummary</objectType>
    </variables>
    <variables>
        <name>SingleDeliveryGroup</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>Stages</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
