force-app/main/default/flows/KLARNA_Create_Order_Summary_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Order_Summary_Action</name>
        <label>Create Order Summary Action</label>
        <locationX>932</locationX>
        <locationY>462</locationY>
        <actionName>createOrderSummary</actionName>
        <actionType>createOrderSummary</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>createOrderSummaryInput</name>
            <value>
                <elementReference>OrderSummaryInputRepresentation</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>OrderSummaryOutputRepresentation</assignToReference>
            <name>createOrderSummaryOutput</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Order_Id</name>
        <label>Order Id and Order Life Cycle</label>
        <locationX>934</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OrderSummaryInputRepresentation.orderLifeCycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Managed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Order_Summary_Action</targetReference>
        </connector>
    </assignments>
    <description>Cloned from Create Order Summary Flow - V1</description>
    <environments>Default</environments>
    <interviewLabel>KLARNA Create Order Summary Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KLARNA Create Order Summary Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>49</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Order_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <filters>
            <field>CreatedById</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Order</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>OrderSummaryInputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryInputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OrderSummaryOutputRepresentation</name>
        <apexClass>ConnectApi__OrderSummaryOutputRepresentation</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
